:root {
  --first-light-color: #f9faf8;
  --second-light-color: #a39d9f;
  --dark-color: #4a3331;
  --one-colorful: #cad25b;
  --two-colorful: #f25d73;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  color: var(--two-colorful);
}

/* ======= navbar ========== */
.navbar {
  background-color: var(--first-light-color) !important;
  border-bottom: 1px solid var(--dark-color) !important;
}
.nav-link:hover {
  color: var(--two-colorful) !important;
}

/* ================== home ================ */
.home-ctn {
  background-color: var(--dark-color);
}

.home-name > h1,
.home-name > h4 {
  color: var(--first-light-color);
}

.home-small-img > img {
  background-color: var(--first-light-color);
  border: 1px solid var(--first-light-color);
  border-radius: 50%;
}

.btn-download-cv {
  background-color: var(--dark-color);
  color: var(--one-colorful);
  border: 1px solid var(--one-colorful);
}

.btn-download-cv:hover {
  background-color: var(--two-colorful);
  border: 1px solid var(--first-light-color);
}

/* ============= about ================*/

.about-ctn {
  background-color: var(--first-light-color);
  color: var(--dark-color);
  text-transform: capitalize;
}

.about-skills-square {
  padding: 1rem;
  justify-content: center;
  text-align: -webkit-center;
}
.about-skills-circle {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--one-colorful);
  border-radius: 5rem;
}

.about-skills-circle:hover {
  border: 2px solid var(--one-colorful);
  background-color: var(--one-colorful);
  border: 1px solid var(--dark-color);
}

/* ========Education and Exp =============== */
.education-ctn {
  background-color: var(--dark-color);
  color: var(--first-light-color);
}

.education-board-inside {
  border: 1px solid var(--one-colorful);
  padding: 2rem;
  border-radius: 2rem;
}

.education-icon {
  color: var(--one-colorful);
}
/* ====== Portfolio ============= */

.portfolio-ctn {
  background-color: var(--first-light-color);
}

.portfolio-img-box > img {
  border: 1px solid var(--two-colorful);
  border-radius: 2rem;
}

.portfolio-img-box > img:hover {
  opacity: 0.8;
}

.btn-portfolio {
  background-color: var(--first-light-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}

.btn-portfolio:hover {
  background-color: var(--one-colorful);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
}

.btn:focus,
.btn:active {
  box-shadow: none !important;
  outline: 0;
}

/* ======== Footer=========== */
.contact-ctn {
  background-color: var(--dark-color);
  color: var(--first-light-color);
}

.contact-icon:hover {
  color: var(--one-colorful);
}
.contact-icon {
  color: var(--first-light-color);
}

footer {
  background-color: var(--dark-color);
  color: var(--first-light-color);
  border-top: 1px solid var(--first-light-color);
}
